name: Build and Test
on: [push, pull_request]

jobs:
  build-gcc11:
    name: Build for GCC 11.2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and Test
        run: bash tools/earthly.sh +build-alpine-gcc-11.2
  build-gcc10:
    name: Build for GCC 10.3
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and Test
        run: bash tools/earthly.sh +build-alpine-gcc-10.3 --cxx_flags "-fcoroutines"

  build-vs2019:
    name: Build for VS 2019
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Probe
        run: gci -recurse "C:/Program Files (x86)/Microsoft Visual Studio/2019"
      - name: Build and Test
        run: tools/build-vs2019e.bat -Toolchain tools/msvc.jsonc
